# Copy this file to backend/.env and provide your MongoDB connection string
MONGODB_URL = mongodb+srv://sreelakshmikavenge3i3:Sree%40Av5@cluster0.wx3loc1.mongodb.net/?retryWrites=true&w=majority
DB_NAME = She_Health
