./backend/ml/model_selection_and_validation/models/outputs
./backend/ml/Kaggle dataset trials/Models trained on Kaggle Dataset/outputs
./backend/ml/model_selection_and_validation/outputs
./catboost_info